<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>System Monitoring Dashboard</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>

<!-- Collapsible navbar -->
<div class="container-fluid mb-4 bg-dark-custom">
    <nav class="navbar navbar-expand-md border-bottom">
        <div class="container-fluid">
            <img class="me-2" id="logo-animated" src="/assets/images/logo.png" width="48" height="48" alt="logo">
            <a class="navbar-brand ms-2 fs-4 fw-light" href="/">System Monitoring Dashboard</a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="Navbar" class="navbar-collapse collapse">
                <ul class="navbar-nav ms-auto fs-4">
                    <li class="nav-item"><a class="nav-link fw-light active" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link fw-light" href="/">Machines</a></li>
                    <li class="nav-item"><a class="nav-link fw-light" href="/">Settings</a></li>
                    <li class="nav-item"><a class="nav-link fw-light" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link fw-light" href="/about">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!-- Dashboard description -->
<div class="container my-4">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center flex-column" id="title-animated">
                <h1 class="fs-1">System Monitoring Dashboard</h1>
                <p class="fs-4 fw-light text-center">A minimal web-based dashboard for viewing system metrics such as CPU load, memory usage, uptime, and more.</p>
            </div>
        </div>
    </div>
</div>
<script>
    $("#title-animated").animate({
        top: '0px',
        opacity: '1',
    }, 1000)
</script>

<!-- Main container -->
<div class="container my-4 temp-hidden">
    <div class="row g-4">
        <div class="col-lg-6" style="display: flex; justify-content: center; align-items: center;">

            <div class="stats-left me-auto">
                <div>
                    <strong><span id="username+hostname"></span></strong>
                </div>
                <div>
                    <strong>OS:</strong>
                    <span id="os+arch"></span>
                </div>
                <div>
                    <strong>Kernel:</strong>
                    <span id="kernel-version"></span>
                </div>
                <div>
                    <strong>CPUs:</strong>
                    <span id="cpu-info"></span>
                </div>
            </div>

            <div class="stats-right">
                <div>
                    <strong>Total Memory: </strong>
                    <span id="total-memory"></span>
                </div>
                <div>
                    <strong>Free Memory: </strong>
                    <span id="free-memory"></span>
                </div>
                <div>
                    <strong>CPU Load: </strong>
                    <span id="cpu-load"></span>
                </div>
                <div>
                    <strong>Uptime:</strong>
                    <span id="uptime"></span>
                </div>

                <div>
                    <strong>Disk usage:</strong>
                    <span id="disk-usage-test"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    setTimeout(function() {
        $(".temp-hidden").animate({
            opacity: '1',
        }, 1000)
        // $("html").css("background-color", "var(--bg-dark-custom)") // Change overscroll background color to match header and footer
    }, 1000)
</script>
<script src="/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>